.projectPageHeader{
    background-color: #FFF;
    text-align: center;
    position: fixed;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    font-weight: 600;
    height: 70px;

}
.projectPageCompanyList{
    font-size: 12px;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
    font-weight: 400;
    align-items: center;

}
.projectPageCompanyList div:hover{
    text-decoration: underline;
    cursor: pointer;
    color: blue;
}



.projectPageWrapper{
    padding: 20px;
    margin: 0 auto;
    /* margin-top: 70px; */
  
}

.projectPageCardWrap{
    border: 1px solid #A3A3A3;
    border-radius: 15px;
    padding: 20px;
    font-size: 14px;
    margin-top: 70px;
}
.projectPageCompanyName{
    text-align: center;
    font-size: 16px;
    font-weight: bold;

}
.projectPageCardWrap ul{
    margin-left: 50px;
}
.projectPageCardTitle{
    font-size: 16px;
    color: #605B5A;
    text-decoration: underline;
    cursor: pointer;
    font-style: italic;
    color: darkmagenta;
    cursor: pointer;
}
.projectPageCardContent{
    margin-left: 25px;
    margin-top: 6px;
}

@media (min-width: 768px){
    .projectPageWrapper{
        max-width: 1000px;
        /* margin: 0 auto; */
        /* border: 1px solid; */
    }
    .projectPageHeader{
        /* max-width: 1000px; */
        /* margin: 0 auto; */
    }
}

@media (max-width:768px){
    .projectPageCompanyList{
        font-size: 8px;
    }
}