.projectPageCardWrap{
    margin-top: 15px;
}
.projectPageCompanyWrap{
    display: flex;
    justify-content: space-between;
}
.projectPageViewDetails{
    font-size: 12px;
    cursor: pointer;
    text-decoration: underline;
    color: blue;
}
.projectPageViewDetails:hover{
    color: blue;
}
.projectPageCompanyName{
    font-size: 16px;
    font-weight: 500;
    text-decoration: underline;
}
.projectPageCardContent{
    font-size: 14px;
    margin-left: 30px;
}
.projectPageCardTitle{
    font-size: 15px;
    margin-left: 15px;
    font-style: italic;
    color:darkmagenta;
    cursor: pointer;
}
.projectPageCardTitle:hover{
    text-decoration: underline;
    color:darkmagenta;
    cursor: pointer;
    
}
.projectPageCardContent ul{
    margin-left: 20px;
}

@media (max-width:768px){
    .projectPageViewDetails{
        font-size: 10px;
    }
    .projectPageCompanyName{
        font-size: 14px;
    }
    .projectPageCardTitle{
        font-size: 12px;
    }
    .projectPageCardContent{
        font-size: 11px;
        margin-left: 15px;
    }
}