.kudosComapnyname{
    font-size: 14px;
    font-weight: 600;
}

.kudosImgWrapper{
    display: flex;
    flex-direction: row;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    cursor: pointer;
   
}

.kudosImgContainer{
    border: 1px solid #D9D9D9;
    /* width: 35%; */
    /* height: 228px; */
    border-radius: 5px;
    padding: 15px;
    position: relative;
}

.kudosImg{
    height: 228px;
    width: 228px;
    object-fit: contain;
}

.viewKudosWrapper{
    position: absolute;
    width: 100%;
    background-color: #0000008c;
    margin: 0;
    bottom: 0px;
    left: 0px;
    border-radius: 5px;
    text-align: center;
    padding-top: 4px;
    padding-bottom: 4px;
    color: white;
    font-weight: 900;
    cursor: pointer;
}

@media(max-width:768px){
    .kudosImgWrapper{
        flex-direction: column;
        align-items: center;
    }
    .kudosImgContainer{
        width: 100%;
        width: fit-content;
      
    }
}