.topHeaderWrapper{
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
    align-items: center;
    position: sticky;
    margin-top: 20px !important;
}

.topHeaderTxt{
    font-size: 22px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.topHeaderProfilePic{
    width: 77px;
    height: 77px;
    border-radius: 50%;
}
.topHeaderName{
    font-size: 16px;
}

.topHeaderDesignation{
    font-size: 14px;
    color: #959292;
}

.topHeaderProfileInfo{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.topHeaderActivity{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    align-items: center;
    gap: 15px;
}
.topHeaderLinkedinLogo{
    width: 20px;
    height: 20px;
}
.topHeaderGithubLogo{
    width: 20px;
    height: 20px;
}
.topHeaderDownloadCvTxt{
    font-size: 12px;
    border: 1px solid;
    border-radius: 11px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 10px;
    padding-left: 10px;
    font-weight: 200;
}

.topHeaderDownloadCvTxt:hover{
    border: 1px solid blue;
    color: #1D0AFF;
}

.listOfContent{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
}

.listTxt{
    margin-right: 10px;
    font-size: 14px;
}
.listTxt:hover{
    color: #1D0AFF;
    text-decoration: underline;
}

.homePageWrapper{
    padding: 20px;
    padding-top: 0px;
}




@media (min-width: 768px){
    .topHeaderWrapper{
        max-width: 1000px;
        margin: 0 auto;
    }
   
}

@media (max-width: 768px){
    .topHeaderProfilePic{
        width: 46px;
        height: 46px;
        border-radius: 50%;
    }
    .topHeaderTxt{
        margin: unset !important;
        padding-left: 20px;
    }
    .topHeaderName{
        font-size: 12px;
    }
    .topHeaderDesignation{
        font-size: 12px;
    }
    .topHeaderProfileInfo{
        display: none !important;
    }
    .listOfContent{
        display: none !important;
    }
    .topHeaderTxt{
        margin: 0 auto;
    }
   

}